body {
   height: 1200px;
   overflow-y: scroll;
/*   overflow-x: hidden;*/
}

.photo {
	border-radius: 50%;
	width: 60px;
}

.buttonPage {
  width:100px;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  border:0px red solid;
  align-items: center;
}

